/* style.css */
.page-header.home-header {
  min-height: 80vh;
  padding: 0;
  background: url("./homeBanner12.jpg") no-repeat center center;
  background-size: cover;
  background-position: center 20%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* container ko center ke liye */
.page-header .container {
  width: 100%;
  max-width: 1400px;
  padding: 0 24px;
  margin: 0 auto;
}

/* banner content exact center */
.banner-content {
  max-width: 100%;
  color: white;
  z-index: 2;
  transform: translateY(-62px);
}

/* FIRST LINE */
.banner-content .sub-title {
  font-size: 4.5rem;
  font-weight: 800;
  color: #ffffff;
  /* margin-bottom: 12px; */
  margin-top: 80px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

/* SECOND LINE */
.banner-content .title {
  font-size: 2rem;
  font-weight: 800;
  line-height: 0.5;
  margin-top: 30px;

  letter-spacing: 6px;
  color: rgb(144, 56, 4);
  text-transform: uppercase;
}

/* span ki zarurat nahi ab */
.banner-content .title span {
  color: inherit;
}

/* button completely hide */
.btn {
  display: none;
}

/* Responsive */
@media (max-width: 992px) {
  .banner-content .sub-title {
    font-size: 3.2rem;
  }

  .banner-content .title {
    font-size: 1.6rem;
    letter-spacing: 4px;
  }
}

@media (max-width: 576px) {
  .banner-content .sub-title {
    font-size: 2.4rem;
    letter-spacing: 2px;
  }

  .banner-content .title {
    font-size: 1.2rem;
    letter-spacing: 3px;
  }
}
